.header {
  display: flex;
    justify-content: center;
    flex-direction: row;
  font-size: 100px;
  color: rgb(232, 141, 202);
  font-family: "Oi", cursive;

border-radius: 25px;
margin-bottom: 15px;


}
