.addnew {
  display: flex;
}

.addbtn {
  margin-left: 15px;
  width: 10%;
}
.container {
  background-color: blanchedalmond;
  border-radius: 20px;
}
.allbtn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 24px;

}
