.listtodo {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 24px;
    padding: 10px;
}
.listtodo:hover {
    background: rgb(227, 129, 183);
    border-radius: 10px;
}
.stringtext{
    font-size: 25px;
    font-family: 'Pacifico', cursive;
    word-wrap: break-word;
    width: 90%

}